alembic==1.7.5
anyio==3.3.4
asgiref==3.4.1
autopep8==1.6.0
cffi==1.15.0
click==8.0.3
colorama==0.4.4
cryptography==35.0.0
cx-Oracle==8.3.0
fastapi==0.70.0
fastapi-utils==0.2.1
greenlet==1.1.2
h11==0.12.0
idna==3.3
Mako==1.1.6
MarkupSafe==2.0.1
pycodestyle==2.8.0
pycparser==2.20
pydantic==1.8.2
PyMySQL==1.0.2
python-dotenv==0.19.2
sniffio==1.2.0
SQLAlchemy==1.4.26
starlette==0.16.0
toml==0.10.2
typing-extensions==3.10.0.2
uvicorn==0.15.0
